.container-home {
  width: 100%;
  /* height: 100vh; */
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 200px;
  height: 200px;
}

.logo h1 {
  font-size: 60px;
  color: #fff;
}

.logo span {
  color: #fff;
  margin-top: 14px;
  margin-bottom: 35px;
  font-size: 19px;
}

.area-input {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInputY 2s;
}

@keyframes slideInputY {
  from {
    transform: translateY(90px)
  }
  to {
    transform: translateY(0px)
  }
}

.area-input div {
  width: 100%;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.area-input svg {
  margin: 0 8px;
}

.area-input input {
  width: 100%;
  height: 46px;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.8)
}

.area-input button {
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  color: #26427e;
}

.area-input button:hover {
  animation: buttonEffect 0.8s infinite;
  transition: 1s;
}

/* Animations */
@keyframes buttonEffect {
  to {
    transform: scale(1.05);
  }
  from { 
    transform: scale(1.04);
  }  
}


/* Media Queries */ 
@media (max-width: 1500px) {
  .container-home {
    margin-top: 200px;
  }

  .logo img {
    width: 95px;
    height: 95px;
  }

  .logo h1 {
    font-size: 40px;
  }

  .logo span {
    font-size: 16px;
  }
  
  .area-input {
    width: 60%
  }
}

@media (max-width: 615px) {
  .container-home {
    margin-top: 200px;
  }

  .logo img {
    width: 95px;
    height: 95px;
  }

  .logo h1 {
    font-size: 40px;
  }

  .logo span {
    font-size: 16px;
  }
  
  .area-input {
    width: 80%
  }
}